<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esports.vishal.esportsscoreapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CSGO.CsGoScoreActivity"
            android:label="@string/title_activity_sports_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LOL.LolScoreActivity"
            android:label="@string/title_activity_lol_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DOTA2.Dota2ScoreActivity"
            android:label="@string/title_activity_dota2_item"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>